.music {
    &__card {
        &-grid {
            width: 85%;
            height: 100%;
            background: white;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
            overflow-y: auto;
            animation: gridOpacity 1.2s 0.5s normal forwards;
            opacity: 0;
        }
    }
}

@keyframes gridOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}