.music {
    &__card {
        width: 250px;
        height: 250px;
        display: flex;
        border-radius: 4px;
        position: relative;
        //overflow: hidden;
        margin: 30px;
        cursor: pointer;
        animation: viewCard 0.35s normal ease-in-out forwards;
        &-container {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            transform-style: preserve-3d;
            transform: rotateY(0deg);
            transition: transform 0.7s ease-out;
            &--rotated {
                transform: rotateY(180deg);
            }
        }
        &-front {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
        }
        &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            //background-color: #434544;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
            overflow: hidden;
            z-index: 2;
            &-contentInfo {
                display: flex;
                z-index: 1;
                height: 20%;
                width: unset;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.38);
                flex-direction: column;
            }
            &-summary {
                color: #242020;
                font-size: 15px;
                text-align: center;
                font-family: 'Dosis', sans-serif;
                z-index: 1;
                background-color: #fff200db;
                height: 40%;
                align-items: center;
                display: flex;
                padding: 10px;
                margin-bottom: 2px;
            }
            &-data {
                color: white;
                font-size: 14px;
                margin-left: 5px;
                font-family: 'Dosis', sans-serif;
                text-align: center;
            }
            &-title {
                color: #fff200;
                font-size: 14px;
                font-family: 'Poppins', sans-serif;
                text-align: center;
            }
        }
        &--invisible {
            display: none;
        }
        &-disc {
            width: 230px;
            height: 230px;
            animation: discMove 0.6s normal ease-in-out;
            transform: translateX(65px);
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            transition: transform 1s ease-in-out;
            &:hover {
                transform: translateX(0px);
            }
        }
        &-info {
            position: relative;
            width: 100%;
            height: 100%
        }
        &-text {
            position: absolute;
            width: 100%;
            height: fit-content;
            z-index: 1;
            background: rgba(255, 255, 255, 0.8);
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            backface-visibility: hidden;
        }
        &-name {
            width: 100%;
            font-size: 21px;
            color: black;
            text-align: center;
            font-family: 'Muli', sans-serif;
        }
        &-category {
            font-size: 20px;
            color: rgb(228, 69, 175);
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }
        &-img {
            width: 100%;
            height: 100%;
            position: absolute;
            &--back {
                filter: blur(5px);
            }
        }
    }
    @keyframes discMove {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(65px);
        }
    }
    @keyframes viewCard {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}