.movies{
    width: 100%;
    height: 100vh;
    background: red;
    display: flex;
    &__menu{
        width: 20%;
        min-width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        overflow-y: auto;
        background-image: url("https://static6.depositphotos.com/1000975/633/i/950/depositphotos_6333213-stock-photo-vintage-music-concept.jpg");
        &-container{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &-button{
            width: 80% ;
            min-width: fit-content;
            font-size: 20px;
            margin: 5px;
            pointer-events: auto;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            background: rgba(1, 90, 117, 0.9);
            border: 0px;
            color: white;
            border-radius: 5px;
        }
    }
    &__card{
        width: 200px;
        height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        overflow: hidden;
        margin: 10px;

        &-info{
            position: absolute;
            width: 100%;
            z-index: 1;
            background: rgba(72, 90, 81, 0.8);
        }

        &-name{
            width: 100%;
            font-size: 30px;
            color: white;
            text-align: center;
            font-family: 'Muli', sans-serif;
        }
        &-category{
            font-size: 20px;
            color: white;
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }
        &-img{
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &-grid{
            width: 80%;
            height: 100%;
            background: white;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            justify-items: center;
            align-items: center;
            overflow-y: auto;
        }
    }
}