$breakpoints: (
	medium: 640px,
    large: 1024px
);

@mixin viewport__medium{
    @media (min-width:breakpoints(medium)) {
        @content;
    }
}

@mixin viewport__large{
    @media (min-width:breakpoints(large)) {
        @content
    }
}